.signup {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    input,
    button {
      margin: 0.5rem 0;
      padding: 1rem;
      border-radius: 1rem;
      border: none;
    }
  }
}
