.css-b62m3t-container {
  max-width: 300px;
  margin: 200px;
}

.css-1s2u09g-control {
  height: 62px;
}
.css-319lph-ValueContainer {
  border-bottom: 1px solid #e9e9e9;
}

.css-1okebmr-indicatorSeparator {
  width: 0 !important;
}
.css-1pahdxg-control {
  height: 80px;
  border: none;
  outline: none;
}
.css-1pahdxg-control .css-319lph-ValueContainer {
  border-bottom: 1px solid #9b1e26;
}

.css-1pahdxg-control .css-qc6sy-singleValue {
  color: #9b1e26;
}

.css-2613qy-menu {
  background-color: red;
}
